.bookmarks {}

.bookmarks .bmarks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    height: calc(100vh - 56px - 4rem);
    overflow-y: scroll;
}

.bookmarks .empty {
    width: 100%;
    height: calc(100vh - 56px - 4rem);
    align-content: center;

    p {
        text-align: center;
        color: var(--text-secondary-color);

        .link {
            color: var(--primary-color);
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}