.picker {

    display: none;
    flex-direction: column;
    gap: 0.6rem;
    padding: 1rem;
    background-color: var(--box-background);
    max-height: 600px;
    overflow-y: scroll;
}

.picker.open {

    display: flex;
}

.picker .parts-picker {

    display: flex;
    gap: 1rem;
}

.parts-picker .part {

    width: 200px;
    border-radius: 8px;
    color: var(--text-secondary-color);
}

.parts-picker, .books {

    border-bottom: 1px solid var(--border-color);
    padding: .6rem 0;
}

.picker .books, .picker .chapters {

    display: flex;
    flex-wrap: wrap;
    gap: .6rem;

    li, button {
        color: var(--text-secondary-color);
    }
}

.picker .books li {

    align-content: center;
    text-align: center;
    min-height: 44px;
    flex-basis: 128px;
    background-color: var(--element-background);
    border-radius: 8px;
}

.picker .books li span {
    color: inherit;
}

.books li.active, .part.active, .chap-picker.active {

    background-color: var(--active-highlight);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}