.reader {

    position: relative;
    padding: 1rem;
}

.reader .reader-header {

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--body-background);
    padding: .6rem 0;
}

.reader-header .meta-wrapper {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.reader .controls, .reader .meta {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.reader button {

    min-height: 36px;
    min-width: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--element-background);
}

.meta .book, .meta .chapter {

    font-size: 18px;
    font-weight: 600;
}

.verses {

    max-height: calc( 100vh - 120px);
    overflow-y: scroll;
    padding-top: 2rem;
}

.verses .verse-card {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin: 0.6rem 0;
    padding: .2rem;
}

.verse-card .verse-num {

    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--element-background);
}

.verses .verse-text {

    width: calc(100% - 34px);
}

.verse-card:hover {

    background-color: var(--background-hover);
}

.verse-card.red {
    .verse-text {
        color: var(--color-red-500);
    }
}

.verse-card.green {
    .verse-text {
        color: var(--color-green-500);
    }
}

.verse-card.yellow {
    .verse-text {
        color: var(--color-yellow-500);
    }
}

.verse-card.blue {
    .verse-text {
        color: var(--color-blue-500);
    }    
}