.sidebar {

    position: relative;
    width: 100px;
    padding: 1.6rem;
    background-color: var(--box-background);
    border-right : 1px solid var(--border-color);
    transition: .3s;
}

.sidebar .nav-items {

    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.nav-items li, .toolbox li {
    width: 100%;
    height: 44px;
    padding: 0 0.6rem;
    background-color: var(--element-background);
    color: var(--text-secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    border-radius: 8px;
    font-weight: 600;

    span {
        color: inherit;
        display: none;
    }
}

.nav-items li.active {

    background-color: var(--active-highlight);
    border-left: 2px solid var(--primary-color);
}

.sidebar .toolbox {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    position: absolute;
    bottom: 1.6rem;
    left: 1.6rem;
    right: 1.6rem;
}

.sidebar.open {

    width: 280px;

    .nav-items li, .toolbox li {
        justify-content: flex-start;

        span {
            display: block;
        }
    }
}
